
<div id="div4">
    
    <div >
       <br><br>
        <label class="label22"for= "Schedulenaming">Schedule:</label>
        <select class="names1" name="courseComponent" id="Schedulenaming"></select>
       
        <button class="view" type="button" onclick="loadSchedule()">View Schedule</button>
        <button class ="delete" type="button" onclick="deleteSchedule()">Delete Schedule</button>
        <br><br>
        <button type="button" onclick="deleteAll()">Delete All Schedules</button>
    </div>
   
</div>
<div id ="show2"></div>
<br><br>

<router-outlet></router-outlet>