
<h1>
    <img src="assets/images/logo.png">
    <span class="text1"> Undergradute  </span>
    <span class="text1">Fall/Winter Academic Timetable</span>
</h1>
<mat-toolbar color="primary" class="navbar">
    <span><mat-icon>drafts</mat-icon></span>
    <a mat-button routerLink='/home'routerLinkActive = "active">Home</a>
    <a mat-button routerLink ='/addschedule' routerLinkActive = "active"> Create Schedule</a>
    <a mat-button routerLink = '/manageschedule' routerLinkActive = "active">Manage Schedule</a>
</mat-toolbar>


<router-outlet></router-outlet>


